@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: white;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1.3rem 15%;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.navbar a {
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
}